doctype html
html
  include head
  body.page.font.font_face_ss
    include headerSimple
    section.page__content.content
        div.content__inner
            ul.dir-list
                each branch in branches
                    li.dir-list__item
                        a.dir-list__link(href='/' + branch + '/')= branch
    include footer