doctype html
html
  include head
  body.page.font.font_face_ss
    include headerMain
    section.page__content.content
        div.content__inner
            ul.dir-list
                each commit in commits
                    li.dir-list__item
                        a.dir-list__link(
                            href='/tree/' + commit.hash
                        )= commit.text
    include footer