doctype html
html
  include head
  body.page.font.font_face_ss
    include headerMain
    section.page__content.content
        div.content__inner
            a(href= '/' + branch + parentUrl title="Назад") Назад
            pre.code #{message}
    include footer