header.header.page__header
        div.header__inner
            nav.header__nav.nav
                ul.nav__list
                    li.nav__item
                        a.nav__logo(href="/", title="GitTub") BitHub
                    li.nav__item
                        a.nav__link(href="/commits/" + curBranch, title="Commits") Commits
                    li.nav__item
                        a.nav__link(href="/branches/" + curBranch, title="Branches") Branches