doctype html
html
  include ./head.pug
  body.page.font.font_face_ss
    include headerMain
    section.page__content.content
        div.content__inner
            ul.dir-list
                if parentUrl
                    li.dir-list__item
                        a.dir-list__link(href=parentUrl title="Назад") ..
                each val in list
                    li.dir-list__item
                        if val.type === 'tree'
                            a.dir-list__link(
                                href=url + val.name
                                title= val.name
                            )
                                span.dir-list__item-icon
                                    include icon_type_folder
                                =val.name
                        else
                            a.dir-list__link(
                                href='/blob' + url + val.name title= val.name
                            )
                                span.dir-list__item-icon
                                    include icon_type_file
                                =val.name
    include footer