doctype html
html
  include ../__head/page__head
  body.page.font.font_face_ss
    include ../__header/page__header
    section.page__content.content
        div.content__inner
            a(href= '/tree/' + curBranch + parentUrl title="Назад") Назад
            pre.code #{message}
    include ../__footer/page__footer