doctype html
html
  include ../__head/page__head
  body.page.font.font_face_ss
    include ../__header/page__header
    section.page__content.content
        div.content__inner
            ul.dir-list
                each commit in commits
                    li.dir-list__item
                        a.dir-list__link(
                            href='/tree/' + commit.hash
                        )= commit.text
    include ../__footer/page__footer