doctype html
html
  include ../__head/page__head
  body.page.font.font_face_ss
    include ../__header/page__header
    section.page__content.content
        div.content__inner
            ul.dir-list
                if parentUrl
                    li.dir-list__item
                        a.dir-list__link(href='/tree' + parentUrl title="Назад") ..
                each val in list
                    li.dir-list__item
                        if val.type === 'tree'
                            a.dir-list__link(
                                href='/tree/' + curBranch + '/' + url + val.name
                                title= val.name
                            )
                                span.dir-list__item-icon
                                    include ../../icon/_type/icon_type_folder
                                =val.name
                        else
                            a.dir-list__link(
                                href='/blob/' + curBranch + '/' + url + val.name title= val.name
                            )
                                span.dir-list__item-icon
                                    include ../../icon/_type/icon_type_file
                                =val.name
    include ../__footer/page__footer