doctype html
html
  include ../__head/page__head
  body.page.font.font_face_ss
    include ../__header/page__header
    section.page__content.content
        div.content__inner
            ul.dir-list
                each branch in branches
                    li.dir-list__item
                        if branch === curBranch
                            a.dir-list__link.dir-list__link_type_cur-branch(
                                href='/tree/' + branch+ '/'
                                title='Текущая ветка'
                            )= branch
                        else
                            a.dir-list__link(
                                href='/tree/' + branch + '/'
                                title='Перейти на ' + branch
                            )= branch
    include ../__footer/page__footer