doctype html
html
  include ../__head/page__head
  body.page.font.font_face_ss
    include ../__header/page__header
    section.page__content.content
        div.content__inner
            h1 404. #{message}
    include ../__footer/page__footer